html{
    font: 10px sans-serif;
}

svg{
    border: 1px solid silver;
}

.node{
    cursor: pointer;
}

.node circle{
    stroke: #17C247;
    stroke-width: 1.5px;
}

.link{
    fill: none;
    stroke: #17C247;
    stroke-width: 1.5px;
}